@font-face {
    font-family: 'Poppins Extra Bold';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('woff2'),
         url('./assets/fonts/Poppins-ExtraBold.ttf') format('woff'),
         url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('./assets/fonts/Poppins-Medium.ttf') format('woff2'),
         url('./assets/fonts/Poppins-Medium.ttf') format('woff'),
         url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 50px;
    width: 100%;
    height: 100px;
}

.navBar img{
    width: 15%;
}

.navBar a {
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Poppins Medium';
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.navBar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.navBar a:hover::after {
    transform: translateX(0%);
}

.navBar button {
    width: 174px;
    height: 56px;
    border-radius: 15px;
    margin-left: auto;
    font-family: 'Poppins Extra Bold';
    font-size: 20px;
    color: #f2cd5c;
    background-color: white;
    border: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navBar button:hover {
    background-color: #f2cd5c;
    color: white;
    border: none;
}

body{
    background-image: url("./assets/images/Fondo.png");
}

.title{
        display: flex;
        justify-content: center;
        align-items: center;
}

.title h1{
    font-family: 'Poppins Extra Bold';
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between; /* Optional: Adds space between the boxes */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; /* Alinea los elementos en el centro */
    position: relative;
}

.box img:not(.imagenPrincipal) {
    height: 150px; /* Ajusta este valor según tus necesidades */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del tamaño especificado sin distorsionarse */
}

.box p{
    font-family: 'Poppins Medium';
    font-size: 15px,
}

.box button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Poppins Extra Bold';
    font-size: 15px;
    color: #f2cd5c;
    background-color: white;
    border: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.box button:hover {
    background-color: #f2cd5c;
    color: white;
    border: none;
}

.firstBox{
    margin-left: 100px;
}

.lastBox{
    margin-right: 100px;
}

.imagenPrincipal{
    box-sizing: border-box;
    width: 70%;
    align-self: center;
}